.outerContainer{
   display: flex;
   justify-content: space-evenly;
   margin: auto;
   height: 67vh;

}
.containerCadastro{
   height: 300px;
   display: flex;
   align-items: center;
   padding: 50px;
   flex-direction: column;
   border: 1px solid #62D2F9;
   border-radius: 10px;
   margin: auto ;
   justify-content: space-evenly;
   background: linear-gradient( rgba(40, 40, 40, 0.7),  rgba(00, 00, 00, 0.7));
}
.btnVideo{
   margin-bottom: 30px;
}
